$container-height: 650px;

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.wrapper{
    .main-layout{
        height: 100vh;
        background-image: url(../media/static/image-header.jpg);
        background-position: center;
        background-size: cover;
        padding: 15px 40px;

        .header{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .menu-bar ul{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                min-height: 70px;
                min-width: 400px;
                li{
                    // cursor: pointer;
                    height: 40px;
                    width: 60px;
                    
                    line-height: 40px;
                    a{
                        font-size: 20px;
                        color: white;
                    }
                    &:last-child{
                        background: white;
                        border-radius: 30px;
                        width: 120px;
                        text-align: center;
                        cursor: pointer;
                        transition: 0.5s;
                        a{
                            color: black;
                        }
                    }
                    &:last-child:hover{
                        background: rgb(255, 241, 223);
                    }
                }
            }

        }
        .main-layout-content{
            margin-top: 12.5%;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 75px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                margin-top: 65px;
            }
        }

    }
    .section-content{
        display: flex;
        flex-direction: row;
        height: $container-height;
        flex-wrap: nowrap;
        .container{
            position: relative;
            display: flex;
            width: 50%;
            .container-l{
                margin: auto auto;
                width: 70%;
            }
            h1{
                font-size: 40px;
                font-weight: bold;
                margin-bottom: 18px;
            }
            p{
                color: #848391;
                font-size: 15px;
                line-height: 1.9;
                margin-bottom: 18px;
            }
            .button-img{
                width: 150px;
            }
        }
        .side{
            img{
                width: 100%;
                height: 100%;
            }
        }
        .section-context{
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
            h1{
                color: #005d4e;
            }
        }
    }
}